# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
pubspec.lock
*.g.dart
*.freezed.dart
coverage/
doc/api/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
